.pessoa-coluna-acoes {
    width: 80px;
    text-align: center;
}

.pessoa-coluna-idade {
    width: 70px;
    text-align: center;
}

.pessoa-coluna-nascimento {
    width: 120px;
    text-align: center;
}